@use 'var';

.hero {
  padding: 5.6vw 4vw;
  min-height: 80vh;
  background-image: url(../images/hero_desktop.jpeg);
  background-size: cover;
  text-align: center;

  &__content {
    max-width: 640px;

    &__branding {
      max-width: 288px;
      margin: 0 auto 38px;
    }

    .title--small {
      margin-bottom: 57px;
    }

    ul {
      padding: 0;
    }

    p {
      margin-bottom: 18px;

      &:last-child {
        margin-top: 54px;
      }
    }

    &__combos {
      display: flex;
      justify-content: space-between;

      &__combo {
        width: calc(50% - 12px);

        img {
          max-height: 45px;
        }

        button {
          display: block;
          width: 100%;
          height: 60px;
          font-size: 18px;
          color: var.$titleColor;
          background-color: #6421ff;
          text-transform: uppercase;
          border: none;
          border-radius: 5px;
          margin-top: 2vw;
          margin-bottom: 8px;
        }
      }
    }
  }
}
